<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>秒杀商品详情页</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.bootcss.com/normalize/8.0.1/normalize.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="http://localhost:8088/css/index.css">
    <link rel="stylesheet" href="http://localhost:8088/css/detail.css">
</head>
<body class="clear-float">
<div id="miaosha-activity">
    <div class="main-promote-detail">

        <div class="detail-left-image">
            <img class="logo" src="http://localhost:8088/images/goods.jpg" height="70%" width="70%"/>
        </div>

        <div class="detail-middle-desc">
            <div class="good-title">
                <span th:text="${activity.goods.goodsTitle}"></span>
            </div>

            <div class="good-price">
                <span style="color:red">
                   ￥<b>
                        <span th:text="${activity.seckillGoods.price}"></span>
                    </b>
                </span>
                &nbsp;&nbsp;
                市场价：￥<span th:text="${activity.goods.goodsPrice}" style="text-decoration: line-through"></span>
            </div>

            <div class="good-store">
                剩余库存数量:<b th:text="${activity.seckillGoods.stockCount}"></b>
            </div>
        </div>

        <div class="detail-right-btn">
            <button style="cursor: pointer;">秒杀</button>
            <button style="margin-top:0;border-top:0;background:#ffffff;color:#000000;">
                <span th:text="${timer}"></span>s
            </button>
        </div>
    </div>
</div>


</body>
</html>

