<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>秒杀商品详情页</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.bootcss.com/normalize/8.0.1/normalize.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/detail.css">
</head>
<body class="clear-float">
<div class="top-nav">
    <div class="border">
        <div class="nav container">
            <div class="right">
                <a href="">登录</a> |
                <a href="">注册</a>
            </div>
        </div>
    </div>
</div>

<div id="miaosha-activity">
    <div class="main-promote-detail">

        <div class="detail-left-image">
            <img class="logo" src="../static/images/goods.jpg" height="70%" width="70%"/>
        </div>

        <div class="detail-middle-desc">
            <div class="good-title">
                富勒双翼游神X200鼠标1元秒杀~~限时秒杀
            </div>

            <div class="good-price">
                ￥ <b>100</b>
                市场价：<span style="text-decoration:line-through;">￥ 1000.00元</span>
            </div>

            <div class="good-store">
                剩余库存数量:<b>100</b>
            </div>
        </div>

        <div class="detail-right-btn">
            <button>秒杀</button>
            <button style="margin-top:0;border-top:0;background:#ffffff;color:#000000;">剩余时间</button>
        </div>
    </div>

    <div class="main-promote-detail">

        <div class="detail-left-image">
            <img class="logo" src="../static/images/goods.jpg" height="75" width="121"/>
        </div>

        <div class="detail-middle-desc">
            <div class="good-title">
                富勒双翼游神X200鼠标1元秒杀~~限时秒杀
            </div>

            <div class="good-price">
                ￥ <b>100</b>
                市场价：<span style="text-decoration:line-through;">￥ 1000.00元</span>
            </div>

            <div class="good-store">
                剩余库存数量:<b>100</b>
            </div>
        </div>

        <div class="detail-right-btn">
            <button>秒杀</button>
            <button style="margin-top:0;border-top:0;background:#ffffff;color:#000000;">剩余时间</button>
        </div>
    </div>

    <div class="main-promote-detail">

        <div class="detail-left-image">
            <img class="logo" src="../static/images/goods.jpg" height="75" width="121"/>
        </div>

        <div class="detail-middle-desc">
            <div class="good-title">
                富勒双翼游神X200鼠标1元秒杀~~限时秒杀
            </div>

            <div class="good-price">
                ￥ <b>100</b>
                市场价：<span style="text-decoration:line-through;">￥ 1000.00元</span>
            </div>

            <div class="good-store">
                剩余库存数量:<b>100</b>
            </div>
        </div>

        <div class="detail-right-btn">
            <button>秒杀</button>
            <button style="margin-top:0;border-top:0;background:#ffffff;color:#000000;">剩余时间</button>
        </div>
    </div>

</div>


</body>
</html>

