<! doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head lang="zh-CN">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.bootcss.com/normalize/8.0.1/normalize.css">
    <title>秒杀页面</title>
    <link rel="stylesheet" href="http://localhost:8088/css/index.css">
</head>
<body class="clear-float">
<div class="top-nav">
    <div class="border">
        <div class="nav container">
            <div class="right">
                <span th:if="${status} eq 'unlogin'"><a href="/user/login">登录</a></span>
                <span th:if="${status} eq 'unlogin'">|<a href="/user/register">注册</a></span>
                <span th:if="${status} eq 'login'"><a href="/user/logout">退出登录</a></span>
            </div>
        </div>
    </div>
</div>
<div class="header">
    <div class="container">
        <div class="left picture">
            <img class="logo" src="http://localhost:8088/images/goods.jpg"/>
        </div>
        <div class="left classify">
            <!--<span>商品列表</span>-->
        </div>
        <div class="right">
            <button id="click" style = "cursor: pointer">活动规则</button>
        </div>
    </div>
</div>
<div class="main-promote">
    <div class="container">
        <table>
            <tr>
                <th th:each="activity:${activity}">
                    <div class="contain-left">
                        <img th:src="${activity.goods.goodsImg}"/>
                    </div>
                    <div class="contain-right">
                        <dl>
                            <dt class="dt-1" th:text="${activity.goods.goodsTitle}"></dt>
                            <dt class="dt-2">
                                <span style = "color:red">
                                   ￥<b>
                                        <span th:text="${activity.seckillGoods.price}"></span>
                                    </b>
                                </span>
                                &nbsp;&nbsp;
                                <span th:text="${activity.goods.goodsPrice}" style = "text-decoration: line-through"></span>
                            </dt>
                            <dt class="dt-2">2020.08.21 10点~11点</dt>
                            <dd class="dd-1">
                                <button><a th:href="${status} eq 'unlogin'?'/user/login':'/goods_detail_url/'+${activity.seckillGoods.id}">查看详情</a></button>
                            </dd>
                        </dl>
                    </div>
                </th>
            </tr>
        </table>
    </div>

    <div id="mask">
        <div class="top">
            <span style = "float:left">*秒杀活动规则：</span>
            <span style = "float:right;padding-right:20px;">
                <span id = "close-windows" style = "cursor: pointer">X</span>
            </span>
        </div>

        <div class="content">
            1.秒杀商品是否参加活动、最终秒杀成功的商品,以订单结算页显示为准,活动包括但不限于优惠券、赠品、满减、满赠等;<br/>
            2.秒杀商品数量有限，活动以下单支付成功为准，请加入购物车后尽快下单支付;<br/>
            3.秒杀价不含运费，最终以订单结算页价格为准；<br/>
            4.订单中商品的数量、颜色、型号等，以订单结算页为准<br/>
            温馨提示：因可能存在系统缓存、页面更新导致价格变动异常等不确定性情况出现，如您发现活动商品标价或促销信息有异常，请您立即联系我，以便我们及时补正。<br/>
        </div>
    </div>

</div>
</body>
</html>

<script>
    document.getElementById("click").onclick = function(){
        document.getElementById("mask").style.display = "block";
    };

    document.getElementById("close-windows").onclick = function () {
        document.getElementById("mask").style.display = "none";
    }
</script>


