<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录页面</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/normalize/8.0.1/normalize.css">
    <link rel="stylesheet" href="../static/css/input.css">
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body class="clear-float">
<div class="top-nav">
    <div class="border">
        <div class="nav container">
            <div class="right">
                <a href="">登录</a> |
                <a href="">注册</a>
            </div>
        </div>
    </div>
</div>

<div id="login-main">
    <div class="login-box">
        <div class = "controller-header">
            <h3>客人请登录~</h3>
        </div>
        <div class="controller-box" style = "margin-top:40px;">
            <input name="name" type="text" placeholder="登录名"/>
        </div>
        <div class="controller-box">
            <input name="name" type="password" placeholder="密码"/>
        </div>
        <div class="controller-box">
            <input name="name" type="button" value="登录名"/>
        </div>
    </div>
</div>

</body>
</html>